.movie-details-container{
    background: #00000021;

}
.image-bg{
    width: 100%;
    height: 80%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    z-index:-1;
}
.movie-detail-poster img{
    height: 363px;
    width: 293px;
}
.movie-title{
    font-size: 45px;
    font-weight: 800;
}
.movie-release{
    color: #ffffff;
    font-weight: 600;
}
.ratings{
    position: relative;
    top: 0;
}
.movie-star img{
    width: 45px;
}

.movie-overview{
    color: #ffffff;
    font-weight: 400;
}
.review-container {
    margin-top: 20px;
    overflow-y: auto;
    white-space: nowrap;
    height: 200px;
    scrollbar-width: none;
}
  
.review {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #c1bfbfe1;
    margin-bottom: 20px;
}
  
.review h2 {
    color: #333;
}
  
.review p {
    margin: 5px 0;
    color: #555;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-height: 3em; 
}
  
.review p.expanded {
    max-height: none; 
    white-space: normal; 
}
  
.review p:last-child {
    color: #888;
    font-size: 12px;
}
.similer-movies-container{
    overflow-x: auto;
    white-space: nowrap;
    height: auto;
    scrollbar-width: none;
}
  

