.movie-details {
    background-color: #000000e1;
    color: #858282;
}
.movie-title{
    font-size: 45px;
    font-weight: 800;
}
.movie-star img{
    width: 40px;
    top: 4px;;
}
.rating{
    font-size: 20px;

}

