p{
    margin:0;
}

.movie-title h2{
    font-size: 50px;
}
.star-rating img{
    height: 40px;
}
.movie-img img{
    
}
.movie-details{
    background-color: #142689;
}
.movie-heading{
    color: #ffffff;
}
.rating{
    font-size: 30px;
    overflow: hidden;
}
.watch-list{
    width: auto;
}