.movie-details-card{
    box-shadow: 0 2px 4px #c1bfbfe1;
}
.movie-details {
    background-color: #000000e1;
    color: #858282;
}
.movie-title{
    font-size: 45px;
    font-weight: 800;
}
.movie-star img{
    width: 45px;

}
.rating{
    font-size: 20px;
}
.movie-overview{
    box-shadow: 0 2px 4px #c1bfbfe1;
}
.review-container {
    margin-top: 20px;
    overflow-y: auto;
    white-space: nowrap;
    height: 200px;
    scrollbar-width: none;
}
  
.review {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #c1bfbfe1;
    margin-bottom: 20px;
}
  
.review h2 {
    color: #333;
}
  
.review p {
    margin: 5px 0;
    color: #555;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-height: 3em; 
}
  
.review p.expanded {
    max-height: none; 
    white-space: normal; 
}
  
.review p:last-child {
    color: #888;
    font-size: 12px;
}
  
.see-more {
    cursor: pointer;
    color: blue;
}
  

