.text-container {
    color: #131010;
}
.slide {
    display: none;
}
.slider{
    box-shadow: 0 2px 4px #afa8a8e1;
    border-radius: 30px;
}
.text-container h3{
    font-weight: bold;
}
.slide.active {
    display: block;
}

.slide img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.slider-arrow{
    float: right;
}
.slider-arrow button{
    border: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    transition:background-color 0.3s ease;
    padding: 10px;
}
@media (max-width:768px){
    .slider-arrow{
        width: auto;
        max-width: none;
        left: 50%;
        transform: translate((-50%,-50%));
    }
    .slider-arrow button{
        font-size: 18px;
    }
}
.slider-arrow button:hover{
    background-color: #bcbcbc;
}
.left{
    display: left;
}