.text-container {
    color: #131010;
}
.slide {
    display: none;
}
.slider{
    box-shadow: 0 2px 4px #c1bfbfe1;
    border-radius: 50px;
}
.text-container h3{
    font-weight: bold;
}
.slide.active {
    display: block;
}

.slide img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.slider-arrow{
    position: absolute;
    top: 60%; 
    transform: translate((-50%,-50%));
    width: 1296px;
    display: flex;
    justify-content: space-between;
}
.slider-arrow button{
    background-color: #726b6b;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    transition:background-color 0.3s ease;
    padding: 10px;
}
@media (max-width:768px){
    .slider-arrow{
        width: auto;
        max-width: none;
        left: 50%;
        transform: translate((-50%,-50%));
    }
    .slider-arrow button{
        font-size: 18px;
    }
}
.slider-arrow button:hover{
    background-color: #3b3939;
}