.text-container {
    z-index: 1;
    color: #131010;
    text-align: center;
}
.slide {
    display: none;
}
.text-container h3, .text-container p{
    font-weight: bold;

}
.slide.active {
    display: block;
}

.slide img {
    border-radius: 50px;
}

