.movie-cast{
    scrollbar-width: none;
}
.movie-cast .cast{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    
}
.movie-cast-profile{
    box-shadow: 0 2px 4px #c1bfbfe1;
    text-align: center;
}
.movie-cast-profile img{
    width: 100px;
}
.movie-cast{
    overflow-x: auto;
}
.movie-cast-name h6{
    color: #6f6f6f;
}