.footer-container {
    background: linear-gradient(to left, #7b99df, #080486);
    color: #fff;
}
  
.footer-container h5 {
    color: #fff;
}
  
.footer-container .footer-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; 
}
  
.footer-container .footer-link:hover {
    color: #000000; 
}
  
.footer-container ul.list-unstyled {
    padding-left: 0;
}
  
.footer-container ul.list-unstyled li {
    list-style: none;
}
  