.collection-list h5{
    cursor: pointer;
}
.current{
    background-color: #7b99df;
    border-radius: 20px;
    height: 25px;
}
.movies-collection-header{
    border-radius: 30px;
    background: linear-gradient(to left, #7b99df, #080486);
}
.collection-text h1{
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fade-in {
    animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}