*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Poppins', sans-serif;
}
.slider-card-container{
    width: 100%;
    position: relative;
    display: flex;
    top: 290px;
}