
.movie {
    border-radius: 20px;
    box-shadow: 0 2px 4px #c1bfbfe1;
    text-align: center;
    background-color: #fff; 
}

.movie-poster img {
    max-width: 100%; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.movie-ratings {
    position: relative;
}
